$background: #efefef;
$lfs-blue: #006ac6;
$lfs-green: #74E04F;
$lfs-grey: #F4F4F4;
$lfs-black: #212529;

.table-predictions {
    width: 100%;
    caption {
        font-style: italic;
        color: $lfs-blue;
        text-align: left;
    }
    thead {
        border-bottom: 2px solid $lfs-green;
        tr {
            text-transform: uppercase;
            text-align: left;
            color: $lfs-blue;
            border: 1px solid #F1F1F1;
        }
        th {
            padding: 10px;
        }
    }
    tbody {
        tr {
            border-bottom: 1px solid #F1F1F1;
            color: $lfs-black;
            &:hover {
                cursor: pointer;
                background-color: $lfs-grey;
            }
            td {
                padding: 10px;
                border: 1px solid $lfs-grey;
            }
        }
    }
}